In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv(r"C:\Users\Hp\Desktop\Data_Science_Jupyter\Telecom_Project_5\Data\Mysql_Data.csv")

In [3]:
df

,Bearer_Id,Engagement Score,Experience Score,Satisfaction Score
0,13114483460844900352,0.196168,22.346687,11.271427
1,13114483482878900224,0.175220,22.346503,11.260862
2,13114483484080500736,0.194544,22.346875,11.270709
3,13114483485442799616,0.192352,22.346551,11.269452
4,13114483499480700928,0.194544,22.346875,11.270709
...,...,...,...,...
149996,7277825670196679680,0.212012,22.346697,11.279355
149997,7349883264234609664,0.216762,22.346925,11.281843
149998,13114483573367300096,0.193348,22.346556,11.269952
149999,13114483573367300096,0.201561,22.346743,11.274152
150000,,0.191217,22.346382,11.268799

In [4]:
df.shape

(150001, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Bearer_Id           150001 non-null  object
 1   Engagement Score    150001 non-null  float64
 2   Experience Score    150001 non-null  float64
 3   Satisfaction Score  150001 non-null  float64
dtypes: float64(3), object(1)
memory usage: 4.6+ MB

In [6]:
df.columns

Index(['Bearer_Id', 'Engagement Score', 'Experience Score',
       'Satisfaction Score'],
      dtype='object')

In [7]:
from pandas.io import sql
import mysql.connector
import pymysql
from sqlalchemy import create_engine

In [9]:
# Database credentials and connection
db_username = 'root'
db_password = 'root'
db_host = 'localhost'
db_port = 3306
db_name = 'telecome_project'

In [10]:
engine = create_engine(f"mysql+mysqlconnector://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}")

In [11]:
df.to_sql(name='final_telecomm_table', con=engine, if_exists='replace', index=False)

150001